# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env*.local

# Build Outputs
dist
build
out
.next/

# Turbo
.turbo

# Vercel
.vercel

# Testing
coverage

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Log files
*.log
logs/

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace

# Misc / OS generated
.DS_Store
*.pem
Thumbs.db