#root {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  background-color: black;
}

/* Header  */
header {
  height: 100px;
  color: white;
  font-family:
    Open Sans,
    arial,
    sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none;
  padding: 0px;
}

header nav ul li:hover {
  cursor: pointer;
}

/* Main */

main {
  color: white;
  font-family:
    Open Sans,
    arial,
    sans-serif;
  background-image: url("assets/main-b.avif");
  background-size: cover;
  background-position: center;
  padding: 50px;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 30px;
}

/* main forms */

main #Form_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

main form {
  padding: 10px;
  width: 300px;
  height: 300px;
}

/* main articles */
main article {
  border-radius: 10px;
  border: 3px solid rgb(77, 74, 74);
  padding: 10px;
  width: 300px;
  height: 300px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "name name  priority"
    "category category priority"
    "description description weight "
    "edit edit delete";
  align-items: center;
  gap: 10px;
}

main article p:first-child {
  grid-area: name;
}
main article p:nth-child(2) {
  grid-area: category;
}

main article p:nth-child(3) {
  grid-area: weight;
  justify-self: center;
}

main article p:nth-child(4) {
  grid-area: description;
}

main article p:nth-child(5) {
  grid-area: priority;
  justify-self: center;
}

main article button:nth-child(6) {
  grid-area: edit;
}
main article button:nth-child(7) {
  grid-area: delete;
}

/* Footer */
footer {
  height: 7dvh;
  color: white;
  font-family:
    Open Sans,
    arial,
    sans-serif;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
